<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
    <property name="APP_LOG_ROOT" value="${user.dir}/logs"/>

    <!-- Console Appender -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Application Log File -->
    <appender name="FileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_ROOT}/application.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_ROOT}/application-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Error Log File -->
    <appender name="ErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_ROOT}/error.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_ROOT}/error-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Async Appenders -->
    <appender name="AsyncConsole" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>262144</queueSize>
        <appender-ref ref="Console"/>
    </appender>

    <appender name="AsyncFile" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>262144</queueSize>
        <appender-ref ref="FileAppender"/>
    </appender>

    <appender name="AsyncError" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>262144</queueSize>
        <appender-ref ref="ErrorFile"/>
    </appender>

    <!-- Framework Loggers -->
    <logger name="org.apache" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>

    <!-- Application Logger -->
    <logger name="com.coffeecode" level="DEBUG" additivity="false">
        <appender-ref ref="AsyncConsole"/>
        <appender-ref ref="AsyncFile"/>
    </logger>

    <!-- Error Logger -->
    <logger name="com.coffeecode.error" level="ERROR" additivity="false">
        <appender-ref ref="AsyncError"/>
    </logger>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="AsyncConsole"/>
        <appender-ref ref="AsyncFile"/>
        <appender-ref ref="ErrorFile"/>
    </root>
</configuration>